<!DOCTYPE html>
<html>
<head>
  <title>Julia Valentine</title>
  <%= stylesheet_link_tag 'pages/manifest.css', media: 'all' %>
  <%= javascript_include_tag 'pages/manifest.js' %>
  <%= favicon_link_tag 'favicons/favicon.ico' %>
    
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans" rel="stylesheet">
  
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  
</body>
</html>
