<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Julia Valentine</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', media: 'all' %>

  <%= favicon_link_tag 'favicons/favicon.ico' %>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans" rel="stylesheet">

  <%= csrf_meta_tags %>
  <meta name="keywords" content="<%= @seo_keywords %>" />
  
</head>
<body>
  <div id="wrapper">
    <div id="scroller">
    </div>
  </div>  
      
  <%= yield %>

</body>
</html>
